In [1]:
%%writefile CountryNameCode.csv
malaysia
japan
india
china
thailand
vietnam
cambodia
singapore
indonesia
canada
united_states
united_kingdom
germany
france
italy
spain
philippines
south_korea
mexico
austria
poland
portugal
egypt
denmark
australia
cambodia
belgium
sudan
russia
norway
saudi_arabia

Overwriting CountryNameCode.csv

# crwaling code 
## 1. population crawling (median_age, age_structure)
## 2. economic crawling(unemployment rate, GDP composition)

In [14]:
from selenium import webdriver
from bs4 import BeautifulSoup
import urllib.request
import re   
import time
import numpy as np
import pandas
import csv


word = '</strong>'
num = 2


class population_crawling: 
    
    def median_age():
        #open file 'median_age.csv' and record crawled data 
        with open('median_age.csv', 'w', encoding='UTF-8', newline='') as f:
            writer = csv.writer(f)
            writer.writerow( ['country name', 'total','male', 'female'] )

            pf= pandas.read_csv('CountryNameCode.csv', engine='python')

            for i in range(30):
                #open'CountryNameCode.csv' and read 0 column data from row 1~30
                
                mtitle=pf[pf.columns[0]].iloc[i]


                url='https://www.indexmundi.com/'+str(mtitle)+'/demographics_profile.html'

                print(url)
                
                #regular expression 
                total = re.compile(r'.<strong>total: </strong>(.*)<br/><strong>male.*') 
                male=re.compile(r'.<strong>male: </strong>(.*)<br/><strong>female.*')
                female=re.compile(r'.<strong>female: </strong>(.*)<br/>.*')

                driver=webdriver.Chrome("C:/Users/ATIV/Downloads/chromedriver_win32/chromedriver")
                
                #open url 
                driver.get(url)
                soup = BeautifulSoup(driver.page_source, "html.parser")


                link = soup.find_all("div", {"class":"col-md-8 c"})
                print("===================================")

                for posts in link:
                    time.sleep(0.33)
                    z=str(posts)
                    zz=str(posts).split(' ')
                    #print(str(zz))
                    str_index=0
                    count = 0
                    for aaa in zz:
                        #index = 0
                        str_index+=len(aaa)
                        if word in aaa:  
                            count+=1
                            if(count == num):

                                index=aaa.find(word[len(word)-1])
                                print(z[str_index-len(aaa)+len(word):])                #search word가 붙어있을 경우     ex) </strong>12.84%
                                #print(z[str_index:])                                    #search word가 띄어져 있을 경우  ex) </strong> 12.84%
                                break
                        str_index+=1

                    a=total.search(z).group(1).strip()
                    b=male.search(z).group(1).strip()
                    c=female.search(z).group(1).strip()
               
                #save country data in each cell   
                Field1=mtitle   #country name 
                Field2=a.split()[0] 
                Field3=b.split()[0]
                Field4=c.split()[0]
               
             
                writer.writerow([Field1,Field2,Field3,Field4])

    def age_structure():
        
        #open file 'age_structure.csv' and record crawled data 
        with open('age_structure.csv', 'w', encoding='UTF-8', newline='') as f:
            writer = csv.writer(f)
            writer.writerow( ['country name','0-14', '15-24', '25-54', '54-64', '65+'] )

            pf= pandas.read_csv('CountryNameCode.csv', engine='python')

            for i in range(30):

                mtitle=pf[pf.columns[0]].iloc[i]
                #open'CountryNameCode.csv' and read 0 column data from row 1~30


                url='https://www.indexmundi.com/'+str(mtitle)+'/age_structure.html'
                #make 30 url to crawl data

                print(url)
                
                #regular expression for crwaling

                Age0_14=re.compile(r'.0-14 years: </strong>(.*)<br/><strong>15.*')
                Age15_24=re.compile(r'.15-24 years: </strong>(.*)<br/><strong>25.*')
                Age25_54=re.compile(r'.25-54 years: </strong>(.*)<br/><strong>55.*')
                Age54_64=re.compile(r'.55-64 years: </strong>(.*)<br/><strong>65.*')
                Age65=re.compile(r'.65 years and over: </strong>(.*)<br/>.*')

                driver=webdriver.Chrome("C:/Users/ATIV/Downloads/chromedriver_win32/chromedriver")
                driver.get(url)
                soup = BeautifulSoup(driver.page_source, "html.parser")

                link = soup.find_all("div", {"class":"c"})
                print("===================================")

                for posts in link:
                    time.sleep(0.33)
                    z=str(posts)
                    zz=str(posts).split(' ')
                    #print(str(zz))
                    str_index=0
                    count = 0
                    for aaa in zz:
                        #index = 0
                        str_index+=len(aaa)
                        if word in aaa:  
                            count+=1
                            if(count == num):

                                index=aaa.find(word[len(word)-1])
                                print(z[str_index-len(aaa)+len(word):])                #search word가 붙어있을 경우     ex) </strong>12.84%
                                print(z[str_index:])                                    #search word가 띄어져 있을 경우  ex) </strong> 12.84%
                                break
                        str_index+=1

                    a=Age0_14.search(z).group(1).strip()
                    b=Age15_24.search(z).group(1).strip()
                    c=Age25_54.search(z).group(1).strip()
                    d=Age54_64.search(z).group(1).strip()
                    e=Age65.search(z).group(1).strip()
                    
                #save data in each cell after delete'%'sign 
                Field1=mtitle
                Field3=a.split()[0][:len(a.split()[0])-1]
                Field4=b.split()[0][:len(b.split()[0])-1]
                Field5=c.split()[0][:len(c.split()[0])-1]
                Field6=d.split()[0][:len(d.split()[0])-1]
                Field7=e.split()[0][:len(e.split()[0])-1]
                
             
                writer.writerow([Field1,Field3,Field4,Field5, Field6, Field7])

class economy_crawling:
    
    def Unemployment():
        #open file 'unemployment.csv' and record crawled data 
        with open('Unemployment.csv', 'w', encoding='UTF-8', newline='') as f:
            writer = csv.writer(f)
            writer.writerow( ['country name','2006','2007','2008','2009', '2010','2011', '2012','2013','2014'] )

            pf= pandas.read_csv('CountryNameCode.csv', engine='python')
            
            #open 'CountryNameCode.csv' and read column 1 from row 14-29 
            #b/c several countries data don't have time series unemployment rate (2006~2014)

            for i in range(14,30):

                mtitle=pf[pf.columns[0]].iloc[i]


                url='https://www.indexmundi.com/'+str(mtitle)+'/unemployment_rate.html'
                #make url to crawl data

                print(url)
                
                #regular expression for data crawling by time series
                unemp_2006=re.compile(r'.2006</td><td>(.*)</td><td>.*') 
                unemp_2007=re.compile(r'.2007</td><td>(.*)</td><td>.*') 
                unemp_2008=re.compile(r'.2008</td><td>(.*)</td><td>.*') 
                unemp_2009=re.compile(r'.2009</td><td>(.*)</td><td>.*') 
                unemp_2010=re.compile(r'.2010</td><td>(.*)</td><td>.*') 
                unemp_2011=re.compile(r'.2011</td><td>(.*)</td><td>.*')
                unemp_2012=re.compile(r'.2012</td><td>(.*)</td><td>.*')
                unemp_2013=re.compile(r'.2013</td><td>(.*)</td><td>.*')
                unemp_2014=re.compile(r'.2014</td><td>(.*)</td><td>.*')
              
                driver=webdriver.Chrome("C:/Users/ATIV/Downloads/chromedriver_win32/chromedriver")
                driver.get(url)
                soup = BeautifulSoup(driver.page_source, "html.parser")


                link = soup.find_all("table", {"class":"tblrank"})
       
                print("===================================")

                for posts in link:
                    time.sleep(0.33)
                    z=str(posts)
                    zz=str(posts).split(' ')
                    #print(str(zz))
                    str_index=0
                    count = 0
                    for aaa in zz:
                        #index = 0
                        str_index+=len(aaa)
                        if word in aaa:  
                            count+=1
                            if(count == num):

                                index=aaa.find(word[len(word)-1])
                                print(z[str_index-len(aaa)+len(word):])                #search word가 붙어있을 경우     ex) </strong>12.84%
                                print(z[str_index:])                                    #search word가 띄어져 있을 경우  ex) </strong> 12.84%
                                break
                        str_index+=1

                    
                    a=unemp_2006.search(z).group(1).strip()
                    b=unemp_2007.search(z).group(1).strip()
                    c=unemp_2008.search(z).group(1).strip()
                    d=unemp_2009.search(z).group(1).strip()
                    e=unemp_2010.search(z).group(1).strip()
                    f=unemp_2011.search(z).group(1).strip()
                    g=unemp_2012.search(z).group(1).strip()
                    h=unemp_2013.search(z).group(1).strip()
                    i=unemp_2014.search(z).group(1).strip()
                
                #save selected data in each cell
                Field1=mtitle
                Field2=a.split()[0][:3]
                Field3=b.split()[0][:3]
                Field4=c.split()[0][:3]
                Field5=d.split()[0][:3]
                Field6=e.split()[0][:3]
                Field7=f.split()[0][:3]
                Field8=g.split()[0][:3]
                Field9=h.split()[0][:3]
                Field10=i.split()[0][:3]
                
             
                writer.writerow([Field1,Field2,Field3,Field4,Field5,Field6,Field7,Field8,Field9,Field10])
                
    def GDP_composition():
        #open file 'GDP_composition.csv' and record crawled data / encoding_ utf8
        with open('GDP_composition.csv', 'w', encoding='UTF-8', newline='') as f:
            writer = csv.writer(f)
            #make title of rows _ as 6 components of GDP
            writer.writerow( ['country name', 'household consumption','government consumption', 'investment in fixed capital',\
            'investment in inventories','exports of S&G','imports of S&G'] )

            pf= pandas.read_csv('CountryNameCode.csv', engine='python')

            for i in range(30):
                
                #read 30 countries name from 'CountryNameCode.csv' and make 30 urls

                mtitle=pf[pf.columns[0]].iloc[i]


                url='https://www.indexmundi.com/'+str(mtitle)+'/economy_profile.html'

                print(url)
                
                #regular expression for crwaling 
                HS_consumption = re.compile(r'.household consumption: </strong>(.*)<br/><strong>government.*') 
                Gov_consumption=re.compile(r'.government consumption: </strong>(.*)<br/><strong>investment in fixed capital.*')
                inv_fixedcapital=re.compile(r'.investment in fixed capital: </strong>(.*)<br/><strong>investment in inventories.*')
                inv_inventories=re.compile(r'.inventories: </strong>(.*)<br/><strong>exports of goods and services.*')
                exports = re.compile(r'.exports of goods and services: </strong>(.*)<br/><strong>imports.*')
                imports = re.compile(r'.imports of goods and services: </strong>(.*)<br/>.*')

                driver=webdriver.Chrome("C:/Users/ATIV/Downloads/chromedriver_win32/chromedriver")
                driver.get(url)
                soup = BeautifulSoup(driver.page_source, "html.parser")


                link = soup.find_all("div", {"class":"col-md-8 c"})
    
                print("===================================")

                for posts in link:
                    time.sleep(0.33)
                    z=str(posts)
                    zz=str(posts).split(' ')
                    #print(str(zz))
                    str_index=0
                    count = 0
                    for aaa in zz:
                        #index = 0
                        str_index+=len(aaa)
                        if word in aaa:  
                            count+=1
                            if(count == num):

                                index=aaa.find(word[len(word)-1])
                                print(z[str_index-len(aaa)+len(word):])                #search word가 붙어있을 경우     ex) </strong>12.84%
                                print(z[str_index:])                                    #search word가 띄어져 있을 경우  ex) </strong> 12.84%
                                break
                        str_index+=1

                    a=HS_consumption.search(z).group(1).strip()
                    b=Gov_consumption.search(z).group(1).strip()
                    c=inv_fixedcapital.search(z).group(1).strip()
                    d=inv_inventories.search(z).group(1).strip()
                    e=exports.search(z).group(1).strip()
                    f=imports.search(z).group(1).strip()
                    
                Field1=mtitle
                
                #save each data without '%' sign in each cell
                Field2=a.split()[0][:len(a.split()[0])-1]
                Field3=b.split()[0][:len(b.split()[0])-1]
                Field4=c.split()[0][:len(c.split()[0])-1]
                Field5=d.split()[0][:len(d.split()[0])-1]
                Field6=e.split()[0][:len(e.split()[0])-1]
                Field7=f.split()[0][:len(f.split()[0])-1]
               
             
                writer.writerow([Field1,Field2,Field3,Field4,Field5,Field6,Field7])

## 3. geographic data crawling(area composition, land usuage)
### *area composition : proportion of water and land 
### * land usuage: how land is used (agricultural, forest, etc)

In [3]:
class geography_crawling: 
    
    def area_comp():
        #open file 'area_comp.csv' and record crawled data / encoding_ utf8
        with open('area_comp.csv', 'w', encoding='UTF-8', newline='') as f:
            writer = csv.writer(f)
            
            #set title of each column 
            writer.writerow( ['country name', 'total','land', 'water'] )

            pf= pandas.read_csv('CountryNameCode.csv', engine='python')

            for i in range(30):

                mtitle=pf[pf.columns[0]].iloc[i]

                #make url of each country 
                url='https://www.indexmundi.com/'+str(mtitle)+'/geography_profile.html'

                print(url)
                
                #regular expression for crawling 
                total = re.compile(r'.total: </strong>(.*)<br/><strong>land.*') 
                land=re.compile(r'.land: </strong>(.*)<br/><strong>water.*')
                water=re.compile(r'.water: </strong>(.*)<br/>.*')

                driver=webdriver.Chrome("C:/Users/ATIV/Downloads/chromedriver_win32/chromedriver")
                
                #get url 
                driver.get(url)
                soup = BeautifulSoup(driver.page_source, "html.parser")


                link = soup.find_all("div", {"class":"col-md-8 c"})
                print("===================================")

                for posts in link:
                    time.sleep(0.33)
                    z=str(posts)
                    zz=str(posts).split(' ')
                    #print(str(zz))
                    str_index=0
                    count = 0
                    for aaa in zz:
                        #index = 0
                        str_index+=len(aaa)
                        if word in aaa:  
                            count+=1
                            if(count == num):

                                index=aaa.find(word[len(word)-1])
                                print(z[str_index-len(aaa)+len(word):])                #search word가 붙어있을 경우     ex) </strong>12.84%
                                print(z[str_index:])                                    #search word가 띄어져 있을 경우  ex) </strong> 12.84%
                                break
                        str_index+=1

                    a=total.search(z).group(1).strip()
                    b=land.search(z).group(1).strip()
                    c=water.search(z).group(1).strip()
               
            # save data in each cell 
                Field1=mtitle
                Field2=a.split()[0]
                Field3=b.split()[0]
                Field4=c.split()[0]
               
             
                writer.writerow([Field1,Field2,Field3,Field4])

    def land_use():
        #open file 'land_use.csv' and record crawled data / encoding_ utf8
        with open('land_use.csv', 'w', encoding='UTF-8', newline='') as f:
            writer = csv.writer(f)
            
            #set title of each column 
            writer.writerow( ['country name','agriculture_land','forest','other','total'] )

            pf= pandas.read_csv('CountryNameCode.csv', engine='python')

            for i in range(30):

                mtitle=pf[pf.columns[0]].iloc[i]


                url='https://www.indexmundi.com/'+str(mtitle)+'/geography_profile.html'

                print(url)
                
                
                #regular expression for crawling 
                agri=re.compile(r'.agricultural land: </strong>(.*)<br/>arable.*')
                forest=re.compile(r'.forest: </strong>(.*)<br/><strong>other.*')
                other=re.compile(r'.other: </strong>(.*)<br/></td></tr>.*')
                
                driver=webdriver.Chrome("C:/Users/ATIV/Downloads/chromedriver_win32/chromedriver")
                
                #get url using chrome driver
                driver.get(url)
                soup = BeautifulSoup(driver.page_source, "html.parser")

                link = soup.find_all("div", {"class":"col-md-8 c"})
                print("===================================")

                for posts in link:
                    time.sleep(0.33)
                    z=str(posts)
                    zz=str(posts).split(' ')
                    #print(str(zz))
                    str_index=0
                    count = 0
                    for aaa in zz:
                        #index = 0
                        str_index+=len(aaa)
                        if word in aaa:  
                            count+=1
                            if(count == num):

                                index=aaa.find(word[len(word)-1])
                                print(z[str_index-len(aaa)+len(word):])                #search word가 붙어있을 경우     ex) </strong>12.84%
                                print(z[str_index:])                                    #search word가 띄어져 있을 경우  ex) </strong> 12.84%
                                break
                        str_index+=1

                    a=agri.search(z).group(1).strip()
                    b=forest.search(z).group(1).strip()
                    c=other.search(z).group(1).strip()
                    
                #save data in each cell 
                Field1=mtitle
                Field2=a.split()[0][:len(a.split()[0])-1]
                Field3=b.split()[0][:len(b.split()[0])-1]
                Field4=c.split()[0][:len(c.split()[0])-1]
                Field5 = 100
                
             
                writer.writerow([Field1,Field2,Field3,Field4,Field5])

In [4]:
def CheckTime(func):
    #checktime function to check total time for crawling 
    import time

    def newFunc(*args, **kwargs):
        start = time.time()
        func(*args, **kwargs)
        end = time.time()
        
        print("\n실행시간 : ",end - start)

    return newFunc

In [5]:
class WrongDataRecord(Exception):
    #exception handing _error message 
    def __init__(self, msg):
        self._message = msg

In [15]:
#exception
@CheckTime
def get_population():
    population_crawling.age_structure()
    population_crawling.median_age()

@CheckTime
def get_Unemp():  
    try: 
        economy_crawling.Unemployment()
    except AttributeError:
        pass
        
    except IndexError:
        raise WrongDataRecord("CountryNameCode.csv 파일의 나라 개수를 다시 확인해주세요")
    
    except:
        pass 


@CheckTime
def get_GDP():
    try:
        economy_crawling.GDP_composition()
    except:
        raise WrongDataRecord("에러가 발생했습니다. 크롤링을 다시 시작해주세요")

@CheckTime
def get_GEO():
    try:
        geography_crawling.area_comp()
        geography_crawling.land_use()
    except:
        raise WrongDataRecord("에러가 발생했습니다. 크롤링을 다시 시작해주세요")

In [34]:
#crawl all geographic data and check time for crawling 
get_GEO()

https://www.indexmundi.com/japan/geography_profile.html
===================================
https://www.indexmundi.com/india/geography_profile.html
===================================
https://www.indexmundi.com/china/geography_profile.html
===================================
https://www.indexmundi.com/thailand/geography_profile.html
===================================
https://www.indexmundi.com/vietnam/geography_profile.html
===================================
https://www.indexmundi.com/cambodia/geography_profile.html
===================================
https://www.indexmundi.com/singapore/geography_profile.html
===================================
https://www.indexmundi.com/indonesia/geography_profile.html
===================================
https://www.indexmundi.com/canada/geography_profile.html
===================================
https://www.indexmundi.com/united_states/geography_profile.html
===================================
https://www.indexmundi.com/united_kingdom/geography_profile.html
===================================
https://www.indexmundi.com/germany/geography_profile.html
===================================
https://www.indexmundi.com/france/geography_profile.html
===================================
https://www.indexmundi.com/italy/geography_profile.html
===================================
https://www.indexmundi.com/spain/geography_profile.html
===================================
https://www.indexmundi.com/philippines/geography_profile.html
===================================
https://www.indexmundi.com/south_korea/geography_profile.html
===================================
https://www.indexmundi.com/mexico/geography_profile.html
===================================
https://www.indexmundi.com/austria/geography_profile.html
===================================
https://www.indexmundi.com/poland/geography_profile.html
===================================
https://www.indexmundi.com/portugal/geography_profile.html
===================================
https://www.indexmundi.com/egypt/geography_profile.html
===================================
https://www.indexmundi.com/denmark/geography_profile.html
===================================
https://www.indexmundi.com/australia/geography_profile.html
===================================
https://www.indexmundi.com/cambodia/geography_profile.html
===================================
https://www.indexmundi.com/belgium/geography_profile.html
===================================
https://www.indexmundi.com/sudan/geography_profile.html
===================================
https://www.indexmundi.com/russia/geography_profile.html
===================================
https://www.indexmundi.com/norway/geography_profile.html
===================================
https://www.indexmundi.com/saudi_arabia/geography_profile.html
===================================
https://www.indexmundi.com/japan/geography_profile.html
===================================
https://www.indexmundi.com/india/geography_profile.html
===================================
https://www.indexmundi.com/china/geography_profile.html
===================================
https://www.indexmundi.com/thailand/geography_profile.html
===================================
https://www.indexmundi.com/vietnam/geography_profile.html
===================================
https://www.indexmundi.com/cambodia/geography_profile.html
===================================
https://www.indexmundi.com/singapore/geography_profile.html
===================================
https://www.indexmundi.com/indonesia/geography_profile.html
===================================
https://www.indexmundi.com/canada/geography_profile.html
===================================
https://www.indexmundi.com/united_states/geography_profile.html
===================================
https://www.indexmundi.com/united_kingdom/geography_profile.html
===================================
https://www.indexmundi.com/germany/geography_profile.html
===================================
https://www.indexmundi.com/france/geography_profile.html
===================================
https://www.indexmundi.com/italy/geography_profile.html
===================================
https://www.indexmundi.com/spain/geography_profile.html
===================================
https://www.indexmundi.com/philippines/geography_profile.html
===================================
https://www.indexmundi.com/south_korea/geography_profile.html
===================================
https://www.indexmundi.com/mexico/geography_profile.html
===================================
https://www.indexmundi.com/austria/geography_profile.html
===================================
https://www.indexmundi.com/poland/geography_profile.html
===================================
https://www.indexmundi.com/portugal/geography_profile.html
===================================
https://www.indexmundi.com/egypt/geography_profile.html
===================================
https://www.indexmundi.com/denmark/geography_profile.html
===================================
https://www.indexmundi.com/australia/geography_profile.html
===================================
https://www.indexmundi.com/cambodia/geography_profile.html
===================================
https://www.indexmundi.com/belgium/geography_profile.html
===================================
https://www.indexmundi.com/sudan/geography_profile.html
===================================
https://www.indexmundi.com/russia/geography_profile.html
===================================
https://www.indexmundi.com/norway/geography_profile.html
===================================
https://www.indexmundi.com/saudi_arabia/geography_profile.html
===================================

실행시간 :  1101.619479894638

In [1]:
import pandas as pd
print()
land_use = pd.read_csv("land_use.csv")
print("________land_use_________")
land_use

________land_use_________

      country name  agriculture_land  forest                   other  total
0            japan              12.5    68.5                      19    100
1            india              60.5    23.1                    16.4    100
2            china              54.7    22.3                      23    100
3         thailand              41.2    37.2                    21.6    100
4          vietnam              34.8    45.0                    20.2    100
5         cambodia              32.1    56.5                    11.4    100
6        singapore               1.0     3.3                    95.7    100
7        indonesia              31.2    51.7                    17.1    100
8           canada               6.8    34.1                    59.1    100
9    united_states              44.5    33.3                    22.2    100
10  united_kingdom              71.0    11.9                    17.1    100
11         germany              48.0    31.8                    20.2    100
12          france              52.7    29.2                    18.1    100
13           italy              47.1    31.4                    21.5    100
14           spain              54.1    36.8                     9.1    100
15     philippines              41.0    25.9                    33.1    100
16     south_korea              18.1    63.9                      18    100
17          mexico              54.9    33.3                    11.8    100
18         austria              38.4    47.2                    14.4    100
19          poland              48.2    30.6                    21.2    100
20        portugal              39.7    37.8                    22.5    100
21           egypt               3.6     0.1                    96.3    100
22         denmark              63.4    12.9  23.7%<br/><strong>note    100
23       australia              53.4    19.3                    27.3    100
24        cambodia              32.1    56.5                    11.4    100
25         belgium              44.1    22.4                    33.5    100
26           sudan             100.0     0.0                       0    100
27          russia              13.1    49.4                    37.5    100
28          norway               2.7    27.8                    69.5    100
29    saudi_arabia              80.7     0.5                    18.8    100

In [36]:
area_comp = pd.read_csv("area_comp.csv") 
print("________area composition_________")
area_comp

      country name       total        land                          water
0            japan     377,915     364,485                         13,430
1            india   3,287,263   2,973,193                        314,070
2            china   9,596,960   9,326,410                        270,550
3         thailand     513,120     510,890                          2,230
4          vietnam     331,210     310,070                         21,140
5         cambodia     181,035     176,515                          4,520
6        singapore       719.2       709.2                             10
7        indonesia   1,904,569   1,811,569                         93,000
8           canada   9,984,670   9,093,507                        891,163
9    united_states   9,833,517   9,147,593                        685,924
10  united_kingdom     243,610     241,930                          1,680
11         germany     357,022     348,672                          8,350
12          france     643,801     640,427                          3,374
13           italy     301,340     294,140                          7,200
14           spain     505,370     498,980                          6,390
15     philippines     300,000     298,170                          1,830
16     south_korea      99,720      96,920                          2,800
17          mexico   1,964,375   1,943,945                         20,430
18         austria      83,871      82,445                          1,426
19          poland     312,685     304,255                          8,430
20        portugal      92,090      91,470                            620
21           egypt   1,001,450     995,450                          6,000
22         denmark      43,094      42,434                            660
23       australia   7,741,220   7,682,300                         58,920
24        cambodia     181,035     176,515                          4,520
25         belgium      30,528      30,278                            250
26           sudan   1,861,484         NaN  NA<br/></td></tr><tr><td>Area
27          russia  17,098,242  16,377,742                        720,500
28          norway     323,802     304,282                         19,520
29    saudi_arabia   2,149,690   2,149,690                              0

In [2]:
import pandas as pd
print("________age_structure by country_________")
age_structure = pd.read_csv("age_structure.csv") 
age_structure

________age_structure by country_________

      country name   0-14  15-24  25-54  54-64    65+
0            japan  12.84   9.64  37.50  12.15  27.87
1            india  27.34  17.90  41.08   7.45   6.24
2            china  17.15  12.78  48.51  10.75  10.81
3         thailand  16.93  14.17  46.32  12.00  10.58
4          vietnam  23.55  16.23  45.56   8.55   6.12
5         cambodia  31.01  18.36  40.68   5.69   4.25
6        singapore  12.82  16.56  50.53  10.46   9.63
7        indonesia  25.02  16.99  42.40   8.58   7.01
8           canada  15.44  11.85  39.99  14.10  18.63
9    united_states  18.73  13.27  39.45  12.91  15.63
10  united_kingdom  17.53  11.90  40.55  11.98  18.04
11         germany  12.82  10.09  40.45  14.58  22.06
12          france  18.53  11.79  37.78  12.42  19.48
13           italy  13.65   9.66  42.16  12.99  21.53
14           spain  15.38   9.58  44.91  12.14  17.98
15     philippines  33.39  19.16  36.99   5.97   4.49
16     south_korea  13.21  12.66  45.52  14.49  14.12
17          mexico  26.93  17.54  40.81   7.64   7.09
18         austria  14.01  11.07  42.42  13.23  19.26
19          poland  14.76  10.70  43.48  14.21  16.86
20        portugal  15.34  11.36  41.72  12.18  19.40
21           egypt  33.29  18.94  37.60   5.95   4.22
22         denmark  16.41  13.08  38.76  12.52  19.23
23       australia  17.80  12.79  41.45  11.83  16.14
24        cambodia  31.01  18.36  40.68   5.69   4.25
25         belgium  17.16  11.34  40.05  12.86  18.58
26           sudan  38.68  21.04  32.77   4.24   3.27
27          russia  17.12   9.46  44.71  14.44  14.28
28          norway  18.00  12.58  41.01  11.71  16.71
29    saudi_arabia  26.10  18.57  46.86   5.03   3.44

In [7]:
get_population()

https://www.indexmundi.com/japan/age_structure.html
===================================
https://www.indexmundi.com/india/age_structure.html
===================================
https://www.indexmundi.com/china/age_structure.html
===================================
https://www.indexmundi.com/thailand/age_structure.html
===================================
https://www.indexmundi.com/vietnam/age_structure.html
===================================
https://www.indexmundi.com/cambodia/age_structure.html
===================================
https://www.indexmundi.com/singapore/age_structure.html
===================================
https://www.indexmundi.com/indonesia/age_structure.html
===================================
https://www.indexmundi.com/canada/age_structure.html
===================================
https://www.indexmundi.com/united_states/age_structure.html
===================================
https://www.indexmundi.com/united_kingdom/age_structure.html
===================================
https://www.indexmundi.com/germany/age_structure.html
===================================
https://www.indexmundi.com/france/age_structure.html
===================================
https://www.indexmundi.com/italy/age_structure.html
===================================
https://www.indexmundi.com/spain/age_structure.html
===================================
https://www.indexmundi.com/philippines/age_structure.html
===================================
https://www.indexmundi.com/south_korea/age_structure.html
===================================
https://www.indexmundi.com/mexico/age_structure.html
===================================
https://www.indexmundi.com/austria/age_structure.html
===================================
https://www.indexmundi.com/poland/age_structure.html
===================================
https://www.indexmundi.com/portugal/age_structure.html
===================================
https://www.indexmundi.com/egypt/age_structure.html
===================================
https://www.indexmundi.com/denmark/age_structure.html
===================================
https://www.indexmundi.com/australia/age_structure.html
===================================
https://www.indexmundi.com/cambodia/age_structure.html
===================================
https://www.indexmundi.com/belgium/age_structure.html
===================================
https://www.indexmundi.com/sudan/age_structure.html
===================================
https://www.indexmundi.com/russia/age_structure.html
===================================
https://www.indexmundi.com/norway/age_structure.html
===================================
https://www.indexmundi.com/saudi_arabia/age_structure.html
===================================
https://www.indexmundi.com/japan/demographics_profile.html
===================================
https://www.indexmundi.com/india/demographics_profile.html
===================================
https://www.indexmundi.com/china/demographics_profile.html
===================================
https://www.indexmundi.com/thailand/demographics_profile.html
===================================
https://www.indexmundi.com/vietnam/demographics_profile.html
===================================
https://www.indexmundi.com/cambodia/demographics_profile.html
===================================
https://www.indexmundi.com/singapore/demographics_profile.html
===================================
https://www.indexmundi.com/indonesia/demographics_profile.html
===================================
https://www.indexmundi.com/canada/demographics_profile.html
===================================
https://www.indexmundi.com/united_states/demographics_profile.html
===================================
https://www.indexmundi.com/united_kingdom/demographics_profile.html
===================================
https://www.indexmundi.com/germany/demographics_profile.html
===================================
https://www.indexmundi.com/france/demographics_profile.html
===================================
https://www.indexmundi.com/italy/demographics_profile.html
===================================
https://www.indexmundi.com/spain/demographics_profile.html
===================================
https://www.indexmundi.com/philippines/demographics_profile.html
===================================
https://www.indexmundi.com/south_korea/demographics_profile.html
===================================
https://www.indexmundi.com/mexico/demographics_profile.html
===================================
https://www.indexmundi.com/austria/demographics_profile.html
===================================
https://www.indexmundi.com/poland/demographics_profile.html
===================================
https://www.indexmundi.com/portugal/demographics_profile.html
===================================
https://www.indexmundi.com/egypt/demographics_profile.html
===================================
https://www.indexmundi.com/denmark/demographics_profile.html
===================================
https://www.indexmundi.com/australia/demographics_profile.html
===================================
https://www.indexmundi.com/cambodia/demographics_profile.html
===================================
https://www.indexmundi.com/belgium/demographics_profile.html
===================================
https://www.indexmundi.com/sudan/demographics_profile.html
===================================
https://www.indexmundi.com/russia/demographics_profile.html
===================================
https://www.indexmundi.com/norway/demographics_profile.html
===================================
https://www.indexmundi.com/saudi_arabia/demographics_profile.html
===================================

실행시간 :  1306.8933973312378

In [8]:
import pandas as pd
print("________age_structure by country_________")
age_structure = pd.read_csv("age_structure.csv") 
age_structure

________age_structure by country_________

      country name   0-14  15-24  25-54  54-64    65+
0            japan  12.84   9.64  37.50  12.15  27.87
1            india  27.34  17.90  41.08   7.45   6.24
2            china  17.15  12.78  48.51  10.75  10.81
3         thailand  16.93  14.17  46.32  12.00  10.58
4          vietnam  23.55  16.23  45.56   8.55   6.12
5         cambodia  31.01  18.36  40.68   5.69   4.25
6        singapore  12.82  16.56  50.53  10.46   9.63
7        indonesia  25.02  16.99  42.40   8.58   7.01
8           canada  15.44  11.85  39.99  14.10  18.63
9    united_states  18.73  13.27  39.45  12.91  15.63
10  united_kingdom  17.53  11.90  40.55  11.98  18.04
11         germany  12.82  10.09  40.45  14.58  22.06
12          france  18.53  11.79  37.78  12.42  19.48
13           italy  13.65   9.66  42.16  12.99  21.53
14           spain  15.38   9.58  44.91  12.14  17.98
15     philippines  33.39  19.16  36.99   5.97   4.49
16     south_korea  13.21  12.66  45.52  14.49  14.12
17          mexico  26.93  17.54  40.81   7.64   7.09
18         austria  14.01  11.07  42.42  13.23  19.26
19          poland  14.76  10.70  43.48  14.21  16.86
20        portugal  15.34  11.36  41.72  12.18  19.40
21           egypt  33.29  18.94  37.60   5.95   4.22
22         denmark  16.41  13.08  38.76  12.52  19.23
23       australia  17.80  12.79  41.45  11.83  16.14
24        cambodia  31.01  18.36  40.68   5.69   4.25
25         belgium  17.16  11.34  40.05  12.86  18.58
26           sudan  38.68  21.04  32.77   4.24   3.27
27          russia  17.12   9.46  44.71  14.44  14.28
28          norway  18.00  12.58  41.01  11.71  16.71
29    saudi_arabia  26.10  18.57  46.86   5.03   3.44

In [9]:
median_age = pd.read_csv("median_age.csv") 
print("________median_age by country_________")
median_age

________median_age by country_________

      country name  total  male  female
0            japan   47.3  46.0    48.7
1            india   27.9  27.2    28.6
2            china   37.4  36.5    38.4
3         thailand   37.7  36.6    38.7
4          vietnam   30.5  29.4    31.7
5         cambodia   25.3  24.6    26.0
6        singapore   34.6  34.5    34.7
7        indonesia   30.2  29.6    30.8
8           canada   42.2  40.9    43.5
9    united_states   38.1  36.8    39.4
10  united_kingdom   40.5  39.3    41.7
11         germany   47.1  46.0    48.2
12          france   41.4  39.6    43.1
13           italy   45.5  44.4    46.5
14           spain   42.7  41.5    43.9
15     philippines   23.5  23.1    24.0
16     south_korea   41.8  40.2    43.4
17          mexico   28.3  27.2    29.4
18         austria   44.0  42.8    45.1
19          poland   40.7  39.0    42.4
20        portugal   42.2  40.2    44.4
21           egypt   23.9  23.6    24.2
22         denmark   42.2  41.2    43.2
23       australia   38.7  37.9    39.5
24        cambodia   25.3  24.6    26.0
25         belgium   41.4  40.2    42.7
26           sudan   19.9  19.7    20.1
27          russia   39.6  36.6    42.5
28          norway   39.2  38.4    40.0
29    saudi_arabia   27.5  28.2    26.7

In [10]:
get_GDP()

https://www.indexmundi.com/japan/economy_profile.html
===================================
https://www.indexmundi.com/india/economy_profile.html
===================================
https://www.indexmundi.com/china/economy_profile.html
===================================
https://www.indexmundi.com/thailand/economy_profile.html
===================================
https://www.indexmundi.com/vietnam/economy_profile.html
===================================
https://www.indexmundi.com/cambodia/economy_profile.html
===================================
https://www.indexmundi.com/singapore/economy_profile.html
===================================
https://www.indexmundi.com/indonesia/economy_profile.html
===================================
https://www.indexmundi.com/canada/economy_profile.html
===================================
https://www.indexmundi.com/united_states/economy_profile.html
===================================
https://www.indexmundi.com/united_kingdom/economy_profile.html
===================================
https://www.indexmundi.com/germany/economy_profile.html
===================================
https://www.indexmundi.com/france/economy_profile.html
===================================
https://www.indexmundi.com/italy/economy_profile.html
===================================
https://www.indexmundi.com/spain/economy_profile.html
===================================
https://www.indexmundi.com/philippines/economy_profile.html
===================================
https://www.indexmundi.com/south_korea/economy_profile.html
===================================
https://www.indexmundi.com/mexico/economy_profile.html
===================================
https://www.indexmundi.com/austria/economy_profile.html
===================================
https://www.indexmundi.com/poland/economy_profile.html
===================================
https://www.indexmundi.com/portugal/economy_profile.html
===================================
https://www.indexmundi.com/egypt/economy_profile.html
===================================
https://www.indexmundi.com/denmark/economy_profile.html
===================================
https://www.indexmundi.com/australia/economy_profile.html
===================================
https://www.indexmundi.com/cambodia/economy_profile.html
===================================
https://www.indexmundi.com/belgium/economy_profile.html
===================================
https://www.indexmundi.com/sudan/economy_profile.html
===================================
https://www.indexmundi.com/russia/economy_profile.html
===================================
https://www.indexmundi.com/norway/economy_profile.html
===================================
https://www.indexmundi.com/saudi_arabia/economy_profile.html
===================================

실행시간 :  501.32346415519714

In [11]:
gdp_comp = pd.read_csv("GDP_composition.csv") 
print("______________GDP Composition by country____________")
gdp_comp

______________GDP Composition by country____________

,country name,household consumption,government consumption,investment in fixed capital,investment in inventories,exports of S&G,imports of S&G
0,japan,55.9,19.5,23.5,0.2,17.8,-16.8
1,india,58.7,11.6,27.5,4.0,18.4,-20.2
2,china,39.1,14.6,43.3,1.1,19.6,-17.7
3,thailand,50.1,17.0,24.2,-7.0,70.4,-54.7
4,vietnam,68.5,6.6,24.8,2.9,98.6,-101.4
5,cambodia,76.4,5.4,22.0,0.9,62.8,-67.4
6,singapore,34.7,11.4,23.5,1.9,179.2,-150.6
7,indonesia,57.5,8.9,32.1,0.7,19.2,-18.4
8,canada,58.1,20.9,22.8,0.3,31.4,-33.6
9,united_states,69.1,17.2,16.3,0.3,12.2,-15.1
10,united_kingdom,65.3,19.0,16.6,0.7,30.1,-31.7
11,germany,53.7,19.9,20.1,-1.0,47.3,-40.0
12,france,54.8,23.5,22.0,1.3,30.3,-32.0
13,italy,60.2,18.7,17.2,0.1,31.8,-28.0
14,spain,57.3,18.5,19.8,0.4,34.2,-30.2
15,philippines,72.7,10.9,25.2,-0.2,32.1,-40.7
16,south_korea,47.8,15.2,29.4,0.3,43.9,-36.7
17,mexico,68.0,12.5,22.1,-1.3,37.4,-38.7
18,austria,52.1,19.8,23.1,1.1,54.2,-50.3
19,poland,58.8,18.1,17.8,0.8,56.2,-51.8
20,portugal,65.7,17.6,15.4,-0.2,42.9,-41.4
21,egypt,79.2,12.2,17.3,1.3,13.5,-23.5
22,denmark,48.0,25.2,20.0,-0.2,54.5,-47.5
23,australia,57.1,19.0,24.2,0.0,20.5,-20.8
24,cambodia,76.4,5.4,22.0,0.9,62.8,-67.4
25,belgium,50.8,23.3,23.0,0.5,87.7,-85.3
26,sudan,77.3,6.1,18.5,0.9,8.9,-11.7
27,russia,52.4,17.8,21.1,2.5,25.6,-19.4
28,norway,44.7,24.6,23.8,4.0,36.4,-33.5
29,saudi_arabia,41.3,24.6,24.4,4.4,35.6,-30.3

In [12]:
get_Unemp()

https://www.indexmundi.com/portugal/unemployment_rate.html
===================================
https://www.indexmundi.com/egypt/unemployment_rate.html
===================================
https://www.indexmundi.com/denmark/unemployment_rate.html
===================================
https://www.indexmundi.com/australia/unemployment_rate.html
===================================
https://www.indexmundi.com/cambodia/unemployment_rate.html
===================================

실행시간 :  62.30409216880798

In [16]:
get_Unemp()

https://www.indexmundi.com/spain/unemployment_rate.html
===================================
https://www.indexmundi.com/philippines/unemployment_rate.html
===================================
https://www.indexmundi.com/south_korea/unemployment_rate.html
===================================
https://www.indexmundi.com/mexico/unemployment_rate.html
===================================
https://www.indexmundi.com/austria/unemployment_rate.html
===================================
https://www.indexmundi.com/poland/unemployment_rate.html
===================================
https://www.indexmundi.com/portugal/unemployment_rate.html
===================================
https://www.indexmundi.com/egypt/unemployment_rate.html
===================================
https://www.indexmundi.com/denmark/unemployment_rate.html
===================================
https://www.indexmundi.com/australia/unemployment_rate.html
===================================
https://www.indexmundi.com/cambodia/unemployment_rate.html
===================================

실행시간 :  164.93722772598267

In [17]:
unemployment = pd.read_csv("Unemployment.csv") 
print("______________Unemployment by country____________")
unemployment

______________Unemployment by country____________

  country name  2006  2007  2008  2009  2010  2011  2012 2013  2014
0        spain   8.4   8.2  11.0  17.0  19.0  21.0  24.0  26.  24.0
1  philippines   7.9   7.3   7.4   7.4   7.3   7.0   6.9  7.0   6.8
2  south_korea   3.4   3.2   3.1   3.6   3.7   3.4   3.2  3.1   3.5
3       mexico   3.5   3.6   3.8   5.3   5.2   5.1   4.8  4.9   4.7
4      austria   4.7   4.4   3.8   4.7   4.4   4.1   4.3  4.9   5.0
5       poland  13.0   9.6   7.1   8.1   9.6   9.6  10.0  10.   8.9
6     portugal   7.6   7.9   7.5   9.4  10.0  12.0  15.0  16.  13.0
7        egypt  10.0   9.2   8.6   9.3   9.2  10.0  12.0  13<  13.0
8      denmark   3.9   3.7   3.4   5.9   7.4   7.5   7.5  7.0   6.5
9    australia   4.7   4.3   4.2   5.5   5.2   5.0   5.2  5.6   6.0